<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                
                        <div class="row">
                            <div class="col-lg-5 col-md-8" style="margin-top: 200px;">
                                <div class="banner_text">
                                    <div class="banner_text_iner">
                                        <h1>Wood & Cloth
                                            Sofa</h1>
                                        <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                            suspendisse ultrices gravida. Risus commodo viverra</p>
                                        <a href="#" class="btn_2">buy now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banner_img d-none d-lg-block">
                                <img src="assets/img/banner_img.png" style="position: absolute; right: 0; top : 30%" alt="">
                            </div>
                        </div>
                    </div>
                    
                    
                   
                </div>
                
                
            
                
        
    </div>
  </section>
