<div class="container" (scroll)="demo()">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- <h2 *ngFor="let i of [].constructor(totalPages)">hello</h2> -->
            
            <ul class="pagination my-4">
                <li *ngFor="let i of [].constructor(totalPages); let n = index" [ngClass]="{'active' : currentPage-1==n}" class="page-item">
                    <a (click)="pagination(n+1)" class="page-link" style="cursor:pointer">{{ n+1 }}</a>
                </li>
            </ul>
            <table class="table table-dark" appDemo>
                <tr>
                    <th>S.No.</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
                <tr *ngFor="let c of allCity; let n = index">
                    <td>{{ counter+n+1 }}</td>
                    <td>{{ c.name }}</td>
                    <td>{{ c.state }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
