<div class="container mt-4">
    <form [formGroup]="proForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="text-center">{{ id ? "Update" : "Add New" }} Product</h4>
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : proForm.controls['name'].errors && check }" />
            </div>
            <div class="form-group">
                <label>Product Price</label>
                <input type="text" class="form-control" formControlName="price" [ngClass]="{'is-invalid' : proForm.controls['price'].errors && check }" />
            </div>
            <div class="form-group">
                <label>Product Image</label>
                <input type="file" #file class="form-control" formControlName="image" [ngClass]="{'is-invalid' : proForm.controls['image'].errors && check }" />
            </div>
            <div class="form-group">
                <label>Discount</label>
                <input type="text" class="form-control" formControlName="discount" [ngClass]="{'is-invalid' : proForm.controls['discount'].errors && check }" />
            </div>
            <div class="form-group">
                <label>Product Category</label>
                <select class="form-control" formControlName="category" [ngClass]="{'is-invalid' : proForm.controls['category'].errors && check }">
                    <option>Select</option>
                    <option *ngFor="let c of allCate">{{ c.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Product Description</label>
                <textarea class="form-control" formControlName="description" [ngClass]="{'is-invalid' : proForm.controls['description'].errors && check }" ></textarea>
            </div>
            
            <Br />
            <Br />
            <input type="submit" value="{{ id ? 'Update' : 'Add' }}" class="btn btn-primary" (click)="submit(file)" />
        </div>
    </div>
    </form>
</div>
