<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="_auth.isLoggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/dash">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/city">City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/category">Category</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Product</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/admin/product">List</a>
            <a class="dropdown-item" routerLink="/admin/product/add">Add</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="_auth.logout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
